
.about-me {
  text-align: center;
}
contact_form
{
  text-align: center;
}
#header
{
  text-decoration-color:lightblue;
}
#project
{
  text-align :left;
  text_decoration-color: lightgrey;
}
#contact-form
{
  text-align: center;
  margin: auto;
}